body{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
	background-image: url('i1.jpg');
	background-size: cover;
}
.box{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-150%, -50%);
	width: 400px;
	padding: 40px;
	background: rgba(0, 0, 0, 0.8);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
	border-radius: 30px;

}
.box h2{
	margin: 0 0 30px;
	padding: 0;
	color: #fff;
	text-align:center ;

}
.box .inputbox{
	position: relative;
}
.box .inputbox input{
 width: 100px;
 padding: 10px 0;
 font-size: 16px;
 color: #fff;
 letter-spacing: 1px;
 margin-bottom: 30px;
 border: none;
 border-bottom: 1px solid #fff;
 outline: none;
 background: transparent;
}
.box .inputbox label{
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	pointer-events: none;
	transition: .5s;
}
.box .inputbox input:focus~lebel,
.box .inputbox input:valid~lebel{
	top: -18px;
	left: 0;
	color: #03a9f4;
	font-size: 12px;

}
.box input[type="submit"]{
	background: transparent;
	border: none;
	outline: none;
	color: #fff;
	background: red;
	padding: 10px 200px;
	cursor: pointer;
	border-radius: 10px;
}
.box a{
    margin: 0 0 30px;
	padding: 50px;
	color: #fff;
}












.box2{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(150%, -50%);
	width: 400px;
	padding: 40px;
	background: rgba(0, 0, 0, 0.8);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
	border-radius: 30px;

}
.box h3{
	margin: 0 0 30px;
	padding: 0;
	color: white;
	text-align:center ;

}
.box2 .inputbox{
	position: relative;
}
.box2 .inputbox input{
 width: 100px;
 padding: 10px 0;
 font-size: 16px;
 color: #fff;
 letter-spacing: 1px;
 margin-bottom: 30px;
 border: none;
 border-bottom: 1px solid #fff;
 outline: none;
 background: transparent;
}
.box2 .inputbox label{
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	pointer-events: none;
	transition: .5s;
}
.box2 .inputbox input:focus~lebel,
.box2 .inputbox input:valid~lebel{
	top: -18px;
	left: 0;
	color: #03a9f4;
	font-size: 12px;

}
.box2 input[type="submit"]{
	background: transparent;
	border: none;
	outline: none;
	color: #fff;
	background: red;
	padding: 10px 200px;
	cursor: pointer;
	border-radius: 10px;
}
h3 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}